---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// 1. Import the initial variables
@import "bulma/utilities/initial-variables";
@import "bulma/utilities/functions";

// 2. Set your own initial variables
// Update blue
$blue: #72d0eb;
// Add pink and its invert
$pink: #ffb3b3;
$pink-invert: #fff;
// Add a serif family
$family-serif: 'Press Start 2P', cursive;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $blue;
$primary-invert: $pink-invert;
// Use the existing orange as the danger color
$danger: $orange;
// Use the new serif family
$family-primary: $family-serif;

// 4. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

// 5. Add new color variables to the color map.
@import "bulma/utilities/derived-variables.sass";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert)
);
$colors: map-merge($colors, $addColors);

// $box-color: #fff;
$box-radius: 3px;
// $box-background-color: $primary;

// 6. Import the rest of Bulma

@import "bulma";
@import '_fluidbox';

body{
  color: #000;
}

.menu{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 250px;
}

.menu-item {
	background: none;

  .menu-top-item{
    padding-top: 0;
  }

  a {

    &.is-active{
      background: none;
    }

    &:hover{
      background: none;
    }
  }
}

.brand{
  margin: 1.5rem 0;
  line-height: 0;
}

.menu-list {
  a {
    text-transform: uppercase;
    color: #000;

    &:hover{
      background: none;
    }

    .is-active{
      color: #000;
    }
  }
}

.section {
  padding: 1.5rem 1.5rem 3.25rem;
  margin-left: 250px;
}

.is-paddingless-top{
  padding-top: 0;
}

.container{
	width: 100%;
}

h4{
	font-weight: 700;
	font-size: $size-4;
}

h6{
  text-transform: uppercase;
  border-bottom: 1px solid #000;
  margin-bottom: $size-7;
  font-size: $size-7;
}

// gallery

.serie-title{
  margin: 1.5rem 0;
  padding: 0.5em 0;
  line-height: 0;
  text-transform: uppercase;
}

.item{
  margin-bottom: 1rem;
  

  img{
    box-shadow: 0 5px 20px rgba(0,0,0,.1), 
    0 2px 2px rgba(0,0,0,.1);
  }

  h5{
    font-size: 1rem;
    margin: .6rem 0 .3rem;
  }

  small{
    font-size: .7rem;
  }
}

// contact form

textarea, input, button { outline: none; }

input {
  width: 100%;
  height: 1.5rem;
  color: #000;
  border: 3px solid #000;
  border-width: 0 0 3px 0;
}

textarea {
  width: 100%;
  height: 200px;
  padding: .5rem;
  color: #000;
  border: 3px solid #000;
}

.button{
  border:0;
  color: #fff;
  background: #000;
}

// footer

.footer {
    background-color: #fff;
    padding: 3rem 1.5rem;
}
