<nav class="menu" role="navigation" aria-label="main navigation">

  <ul class="menu-list">
    <li>
      <a class="brand" href="{{ site.url }}">
        Roxane Pronier
      </a>
    </li>
    <li class="menu-item">
      <a href="{{ site.url }}/paintings.html" class="menu-top-item">Paintings</a>
      <ul>

        {% assign pages = site.pages  | where: 'layout', 'serie' | sort: 'order' %}

        {% for page in pages %}
          <li class="menu-item"><a href="{{ page.permalink }}">{{ page.serie }}</a></li>
        {% endfor %}

      </ul>
    </li>
    <li class="menu-item"><a href="{{ site.url }}/news.html">News</a></li>
    <li class="menu-item"><a href="{{ site.url }}/exhibition.html">Exhibition</a></li>
    <li class="menu-item"><a href="{{ site.url }}/bio.html">Bio</a></li>
    <li class="menu-item"><a href="{{ site.url }}/contact.html">Contact</a></li>
  </ul>

  <button class="button navbar-burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>

</nav>