<nav class="menu" role="navigation" aria-label="main navigation">

  <ul class="menu-list">
    <li>
      <a class="brand" href="{{ site.url }}">
        Roxane Pronier
      </a>
    </li>
    <li>
      <a class="is-active">Paintings</a>
      <ul>
        <li><a>Serie I</a></li>
        <li><a>Serie II</a></li>
        <li><a>Serie III</a></li>
      </ul>
    </li>
    <li><a>News</a></li>
    <li><a>Exhibition</a></li>
    <li><a>Bio</a></li>
    <li><a>Contact</a></li>
  </ul>

  <button class="button navbar-burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button>

</nav>