---
layout: default
---

{% assign pages = site.pages  | where: 'layout', 'item' | where: 'serie', page.serie %}

<h1>{{ page.serie }}</h1>

  {% assign rows = pages.size | divided_by: 3.0 | ceil %}

  {% for i in (1..rows) %}
    
    <div class="columns">

      {% assign offset = forloop.index0 | times: 3 %}

      {% for page in pages limit:3 offset:offset %}
        <div class="column is-4">
          <img src="img/{{ page.number }}.jpg" alt="">
          <h6>{{page.title}}</h6>
          <small>{{ page.about }} </small>
        </div>
      {% endfor %}

    </div>

  {% endfor %}
