---
layout: default
---

{% assign pages = site.pages  | where: 'layout', 'item' | where: 'serie', page.serie | group_by: 'medium' | reverse %}

<section class="section is-paddingless-top">
  <div class="container">
    <h1 class="serie-title">{{ page.serie }}</h1>

    {% for group in pages %}

      <h6>{{group.name}}</h6>

      <p>{{item.title}}</p>

      {% assign rows = group.size | divided_by: 3.0 | ceil %}

      {% for i in (1..rows) %}
        
        <div class="columns">

          {% assign offset = forloop.index0 | times: 3 %}

          {% for item in group.items limit:3 offset:offset %}
            <div class="column is-4 item">
              <a href="img/{{ item.number }}.jpg" class="lightbox">
                <img src="img/{{ item.number }}-thumb.jpg" alt="{{ page.serie }} {{ item.number }}">
              </a>
              <h5>{{ item.title }}</h5>
              <small>{{ item.about }} </small>
            </div>
          {% endfor %}

        </div>

      {% endfor %}
    {% endfor %}

  </div>
</section>
